.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  gap: 5px;
}

input {
  height: 100%;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.add_btn {
  height: 100%;
  width: 80px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

ul li span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.completed {
  background: rgba(38, 129, 38, 0.553);
}
