<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerLink="/todolist" routerLinkActive="active" ariaCurrentWhenActive="page">TodoList</a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        </li>
        <li>
            <a href="#template"></a>
        </li>
    </ul>
</nav>
<div class="layout">
    <router-outlet></router-outlet>
</div>