h1 {
  background-color: #ddd;
  color: #212121;
}

img {
  border-radius: 20px;
}

article {
  background-color: darkred;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
}

article span {
  font-weight: bold;
  font-size: 25px;
}
