h1 {
  background-color: #ddd;
  color: #212121;
  padding: 5px;
}

img {
  border-radius: 20px;
}

button {
  background-color: transparent;
  border: 2px solid #ddd;
  color: #ddd;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
  color: #212121;
}

small {
  text-decoration: underline;
}

article {
  background-color: rgb(106, 21, 21);
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
}

article span {
  font-weight: bold;
  font-size: 25px;
}

table,
td,
th {
  border: 1px solid #ccc;
}

td,
th {
  padding: 2px 8px;
}
